$select: ".out-of-stock" !default;



@mixin text-overlay {
    #{$select} {
    
        position: relative;
        
        &::after {
            content: "OUT OF STOCK";
            position: absolute;
            color: red;
            font-size: 1.2em;
            transform: rotate(-5deg);
        }
        
        > * {
            opacity: 0.25;
        }
    
        @content;
    }
}