$select: ".wrapper" !default;

// config
@use "./../config/queries";

// abstracts
@use "Shared/scss/templates/base/abstracts/background";

@mixin base {
    #{$select} {
        @include background.image-container() {
            background: url(bg_l-outer.jpg) center top no-repeat #cfe5ef;
            background-size: contain;
        };

        &__in {
            max-width: calc(queries.get(section-max) + 2rem);
            margin-inline: auto;
            background: white;
            box-shadow: 0 0 30px rgba(0,0,0,0.5);
        }

        @content;
    }
}